body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: #FF4C00;
  color: #000000;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul, menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: underline;
}
img {
  display: block;
  width: 100%;
}

.container, .graphics {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 55vw;
  right: 6.5vw;
  left: 6.5vw;
  z-index: 9999;
}
.logo {
  text-transform: uppercase;
  font-size: 7vw;
  letter-spacing: 1px;
}
.contacts {
  font-size: 4.2vw;
  margin-top: 31.6vw;
  letter-spacing: -1px;
}
.col {
  position: absolute;
  display: none;
}
/* .left {
  width: 80vw;
  top: 0;
  left: 0;
}
.right {
  right: 0;
  bottom: 0;
} */


/* @media only screen and (min-width: 821px) {
  .mobile {
    display: none;
  }
  .graphics {
    height: 100vh;
    overflow: hidden;
    display: block;
  }
  .col {
    width: auto;
    height: 106vh;
    top: 0;
    bottom: 0;
  }
  .col img {
    height: 100%;
  }
  .left {
    left: -5px;
  }
  .right {
    right: -5px;
  }
} */