body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: #FF4C00;
  color: #000000;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  overflow: hidden;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul, menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: underline;
}
img {
  display: block;
  width: 100%;
}
.container, .graphics {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  width: 100%;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 55vw;
  right: 6.5vw;
  left: 6.5vw;
  z-index: 9999;
}
.logo {
  text-transform: uppercase;
  font-size: 7vw;
  letter-spacing: 1px;
}
.contacts {
  font-size: 4.2vw;
  margin-top: 31.6vw;
  letter-spacing: -1px;
}
.col {
  display: none;
}

@media only screen and (min-width: 950px) {
  .mobile {
    display: none;
  }
  .col {
    display: block;
    width: auto;
    height: 111.5vh;
    position: absolute;
    top: -4.5vh;
    bottom: 0;
  }
  .col img {
    width: auto;
    height: 100%;
  }
  .left {
    left: -5px;
  }
  .right {
    right: -5px;
  }
  .content {
    position: absolute;
    top: 0;
    left: auto;
    right: 57vw;
    display: flex;
    flex-direction: column-reverse;
    width: 96vh;
    transform: rotate(-90deg);
    transform-origin: top right;
  }
  .logo {
    font-size: 5.8vh;
    width: 46.7vh;
    margin-left: auto;
  }
  .logo span {
    display: none;
  }
  .contacts {
    margin-top: 0;
    margin-bottom: 3.5vh;
    font-size: 2.235vh;
    display: flex;
  }
  .contacts .row:first-child {
    margin-right: 6vh;
  }
}

@media only screen and (min-width: 1100px) {
  .content {
    right: 54vw;
  }
  .contacts {
    margin-bottom: 7vh;
  }
}